@font-face { 
  font-family: "MontRegular";
  src: url("../fonts/MontRegular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face { 
  font-family: "MontSemiBold";
  src: url("../fonts/MontSemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}

html,
body {
  height: 100%;
}

body {
  color: #fff;
  font-family: "MontSemiBold", sans-serif;
  font-size: 18px;
  line-height: 1.15;
  background-image: url(../images/main-bg.png);
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1600px;
  padding: 0 40px;
  margin: 0 auto;
}

/* header */

.header {
  margin-bottom: 52vh;
}

.header__inner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__menu-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  /* margin-top: 40px; */
}

.logo {
  margin-top: 10px;
  margin-right: 120px;
}

.header__btn {
  margin-top: 18px;
  margin-left: auto;
  width: 280px;
  height: 72px;
  background-color: #EF302B;
  border-radius: 24px;
  text-align: center;
  cursor: pointer;
}

/* main */

.main {
  flex-grow: 1;
}

/* progrmam */

.program__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.program__box {
  grid-column: 1 / 2;
}

.program__box-title {
  font-size: 94px;
  font-weight: 600;
  
}

.program__box-title--small {
  margin-top: 5vh;
  font-size: 52px;
  display: inline-block;
}

.program__descr {
  grid-column: 2 / 3;
  font-size: 24px;
  padding: 10% 0 0 35%;
}

.program__descr-text {
  margin-bottom: 35px;
}

.program__descr-link {
  text-decoration: underline;
  text-underline-offset: 10px;
}